@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Jost:wght@300;400&family=Overpass:wght@300&family=PT+Sans&family=Poiret+One&family=Poppins:wght@300&family=Unbounded:wght@300&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Jost", sans-serif;
}

body {
    min-height: 100vh;
    background-color: #041e3d;
}

.nav {
    position: fixed;
    inset: 0px 0 0px 0px;
    background: #7295df;
    width: 65px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

.nav.active {
    width: 240px;
}

.nav img {
    min-width: 60px;
    height: 60px;
}

.toggle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.nav.active .toggle {
    cursor: default;
}

.nav .toggle span {
    color: #fff;
    opacity: 0;
    visibility: hidden;
    transition: 1s;
}

.nav .toggle .exit {
    opacity: 0;
    width: 30px;
    height: 30px;
    cursor: pointer;
    visibility: hidden;
    transition: 0.5s;
}

.nav.active .toggle span {
    visibility: visible;
    opacity: 1;
}

.nav.active .toggle .exit {
    visibility: visible;
    opacity: 1;
}


/* .nav.active .toggle::before {
  content: "";
  transform: translateY(0) rotate(45deg);
}
.nav.active .toggle::after {
  transform: translateY(0) rotate(-45deg);
  box-shadow: 0 0 0 #333;
} */

.nav ul {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.nav ul li {
    list-style: none;
    position: relative;
    width: 100%;
    height: 75px;
    border-radius: 12px;
    border: 8px solid transparent;
    transition: 0.5s;
}

.nav ul li.active {
    transform: translateX(30px);
    background: #041e3d;
}

.nav ul li::before {
    content: "";
    position: absolute;
    top: -28px;
    right: -10px;
    width: 20px;
    height: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 6px 5px 0 5px #041e3d;
    transform: scale(0);
    transform-origin: bottom right;
    transition: 0.5s;
}

.nav ul li.active::before {
    right: 22px;
    transform: scale(1);
}

.nav ul li a {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    text-align: center;
    text-decoration: none;
    z-index: 20;
}

.nav ul li a .icon {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 50px;
    height: 50px;
    border-radius: 10px;
    background: #fff;
    font-size: 1.75em;
    line-height: 60px;
    border: 6px solid transparent;
}

.nav ul li.active a .icon {
    color: #fff;
    background: #041e3d;
}

.nav ul li a .icon::before {
    content: "";
    position: absolute;
    top: 12px;
    left: 0;
    width: 100%;
    height: 100%;
    background: #041e3d;
    filter: blur(8px);
    opacity: 0;
    transition: 0.5s;
}

.nav ul li.active a .icon::before {
    opacity: 0.5;
}

.nav ul li a .icon::after {
    content: "";
    position: absolute;
    top: 10px;
    left: -60px;
    width: 15px;
    height: 15px;
    background: #041e3d;
    border: 8px solid #041e3d;
    border-radius: 50%;
}

.nav ul li a .text {
    position: relative;
    padding: 0 15px;
    color: #333;
    display: flex;
    align-items: center;
    height: 60px;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}

.nav.active ul li a .text {
    visibility: visible;
    opacity: 1;
}

.nav ul li.active a .text {
    color: #fff;
}


/* HOME PAGE STYLINGS */

.home {
    position: absolute;
    top: 20%;
    left: 20%;
    display: flex;
    background: #041e3d;
}

.deadline h2 {
    color: white;
}

.college-logo {
    width: 150px;
    height: 150px;
}

.heading {
    margin-left: 20px;
    line-height: 2;
}

.heading h3 {
    font-size: 1.5em;
    font-size: clamp(0.3rem, 1.5vw, 2rem);
    color: #fff;
}

.heading h1 {
    font-size: 3em;
    color: #fff;
    font-family: "unbounded", cursive;
    letter-spacing: 5px;
}

.registration {
    position: absolute;
    top: 40%;
    left: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}


/* Timer */

#time {
    display: flex;
    flex-wrap: nowrap;
    gap: 30px;
    margin-left: 20px;
}

#time .circle {
    position: relative;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#time .circle svg {
    position: relative;
    width: 150px;
    height: 150px;
    transform: rotate(270deg);
}

#time .circle svg circle {
    width: 100%;
    height: 100%;
    fill: transparent;
    stroke-width: 8;
    stroke-linecap: round;
    stroke: #282828;
    transform: translate(5px, 5px);
}

#time .circle svg circle:nth-child(2) {
    stroke: var(--clr);
    stroke-dasharray: 440;
    stroke-dashoffset: 440;
}

.technovation {
    font-size: 7em;
    color: white;
    text-align: center;
    line-height: 0.6em;
    margin: 50px 450px;
    display: none;
}

.technovation span {
    font-size: 0.5em;
}

#time div {
    position: absolute;
    text-align: center;
    font-weight: 400;
    color: white;
    font-size: 1.5rem;
}

#time div span {
    position: absolute;
    transform: translateX(-50%) translateY(-10px);
    font-size: 0.85rem;
    font-weight: 300;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
}

#time .dots {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    z-index: 1000;
}

#time .dots::before {
    content: "";
    position: absolute;
    top: -3px;
    width: 15px;
    height: 15px;
    background: var(--clr);
    border-radius: 50%;
    box-shadow: 0 0 20px var(--clr), 0 0 60px var(--clr);
}

@media screen and (max-width: 1024px) {
    .home {
        top: 27%;
        left: 10%;
        display: flex;
        background: #041e3d;
    }
    .home img {
        width: 80px;
        height: 70px;
    }
    .heading h3 {
        font-size: 1.5em;
        text-align: center;
    }
    .heading h1 {
        font-size: 2.2em;
    }
    #time .circle {
        position: relative;
        width: 150px;
        height: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #time .circle svg {
        position: relative;
        width: 150px;
        height: 150px;
        transform: rotate(270deg);
    }
}


/* contact container */